/*
* @author David Manrique Romero
*/

@font-face {
    font-family: 'Typold Medium';
    font-style: normal;
    font-weight: normal;
    src: local("Typold Regular"), url("/dashboardResources/fonts/The Northern Block Ltd - Typold Medium.woff") format("woff"); }
     
@font-face {
    font-family: 'Typold ExtraThin';
    font-style: normal;
    font-weight: normal;
    src: local("Typold ExtraThin"), url("/dashboardResources/fonts/The Northern Block Ltd - Typold ExtraThin.woff") format("woff"); }
      
@font-face {
    font-family: 'Typold Light';
    font-style: normal;
    font-weight: normal;
    src: local("Typold Light"), url("/dashboardResources/fonts/The Northern Block Ltd - Typold Light.woff") format("woff"); }
    
@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: url("/dashboardResources/fonts/Montserrat-Bold.ttf"); }
      
@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: normal;
    src: url("/dashboardResources/fonts/Montserrat-Light.ttf"); }
      
@font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: normal;
    src: url("/dashboardResources/fonts/Montserrat-Medium.ttf"); }

.title-centros{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
 }

 .title-centros.filters{
    font-family: 'Montserrat Medium';
    margin-bottom: 0;
 }

 .textoSub{
     font-family: 'Montserrat Medium';
     font-size: 19px;
 }

 .dateUpdate {
     display: flex;
     flex-direction: row;
     height: 35px;
     padding-top: 2px;
 }
 .dateUpdate p{
  margin-right: 12px;
  font-family: 'Montserrat Light';
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
}

.dateUpdate p:nth-child(2){
  margin-right: 35px;
}

.btn-clean img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.btn-clean img:hover{
    width: 28px;
    height: 28px;
    margin-right: 5px;
    background-color: #e4e4e4;
}

.select-component select{
    -webkit-appearance: none;
    margin-top: 10px !important;
    font-family: 'Montserrat Bold';
    font-size: 12px;
}

.select-component{
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-family: 'Montserrat Medium';
    font-size: 12px;
}

.doti {
    height: 20px;
    width: 20px;
    border-radius: 7px;
    display: inline-block;
    margin-right: 10px;
  }

  .container-upload {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
  }

  .info-capacity {
    display: flex;
    justify-content: space-evenly;
  }

  .dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
  }


  .info-capacity div {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 10px;
  }

  .container-list {
      margin-bottom: 40px;
  }

  .container-calendar{
      display: contents;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 12px;
      font-family: 'Montserrat Medium';
   }

.container-calendar input {
    font-family: 'Montserrat Medium';
    font-size: 12px;
    background: #e4e4e4 !important;
    border: none;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    margin-top: 3%;
    border-radius: 5px;}


input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
    
input[type=date] { -moz-appearance:textfield; }

.glyphicon{
    color: #FFFF;
    margin-right: 5px;
}
.glyphicon.glyphicon-calendar {
    position: relative;
    left: 90%;
    top: -24px;
    color: black;
}

.img-glyphicon {
    width: 19px;
    height: 20px;
    margin-bottom: 3px;
}

.upload p.legend{
    font-family: 'Monserrat Ligth';
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 2px;
}

.upload {
    display: flex;
    flex-direction: column;
}

.glyphicon.glyphicon-exclamation-sign{
    color: #2C2C2C;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 99;
}

.btn.btn-info.upload-file{
    background-color: #225b4e;
    color: #FFFF;
    border-color: transparent;
    font-family: 'Montserrat Medium';
    font-size: 15px;
}

.btn.btn-info.download-file{
    background-color: #b99465;
    color: #FFFF;
    border-color: transparent;
    font-family: 'Montserrat Medium';
    font-size: 15px;
}

.btn.btn-info.edit{
    background-color: #225b4e;
    color: #FFFF;
    border-color: transparent;
    font-size: 10px;
    height: 30px;
    width: 75px;
}

.dataTables_info {
    display: none;
}

#footerTable{
    display: flex;
    justify-content: space-between;
}

.totalRegistros {
    margin-top: 10px;
}

.paginate {
    display: flex;
}

.paginate span{
    text-align: center;
    width: 20px !important;
    height: 24px !important;
    border: 1px solid black;
    border: none;
    margin-right: 20px;
    margin-top: 4px;
  }

  .paginate span:hover{
    border: none;
    cursor: pointer;
    margin-right: 20px;
    background-color: #CFCFCF;
  }

.paginate span.current{
  background: #A5290F;
  color: white;
  border: none;
  margin-right: 15px;
}

.paginate .arrow_page {
    font-size: 22px;
    background: #A5290F;
    color: white;
}

.paginate span.current:hover {
    cursor: default;
}

.paginate span.show_page {
    display: block;
}

.paginate span.hide_page {
    display: none;
}

.container-list {
    display: flex;
    justify-content: space-between;
}

.info-capacity {
  display: flex;
  justify-content: space-evenly;
}
.info-capacity div {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

#tableCentrosSalud tr td,
  #tableCentrosSalud tr th {
      text-align: center;
  }

  #tableCentrosSalud tr td {
      font-family: 'Montserrat Light';
      font-size: 12px;
  }
#tableBodyCentros tr td:nth-child(2) {
  display: flex;
  justify-content: space-around;
}

.inputfile {
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Montserrat Medium';
    background-color: #225b4e;
    color: #FFFF;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    width: 100%;
    margin-bottom: 0;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

#tableBodyCentros tr td:nth-child(9) {
    display: flex;
    justify-content: space-around;
    padding-top: 20%;
}

#tableBodyCentros tr td:nth-child(8) {
    height: 60px;
}

.modal-body :not(:first-child) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnCancel, #btnUpload{
    background-color: #192f2c;
    color: #FFFF;
}

#progressLoad {
    width: 100%;
    background-color: #FFFF;
  }
  
  #barLoader {
    width: 1%;
    height: 30px;
    background-color: #d10042;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    color: #FFFF;
  }

  .menu .ul-menu li:nth-child(6){
     color: #902e3a;
   }

   .two-filter {
       display: flex;
       margin-top: 2%;
       margin-bottom: 4%;
   }

   .modal-body {
    text-align: center; 
    margin-bottom: 30px;}

.modal-body .construccion {
    height: 15px;
    font-family: "Montserrat Medium";
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 42px;
    color: #902e3a;
    opacity: 2; }
    .modal-dialog {
        width: 71% !important;
    max-width: 900px !important; }